<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% if page.category %} - {{ page.category }} Kategorija{% endif %}</title>
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content=""/>
    <meta name="keywords" content="csdd eksāmens, csdd eksāmenā, csdd eksāmeni, csdd eksāmenam"/>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:title"
          content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% if page.category %} - {{ page.category }} Kategorija{% endif %}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{% if page.ogbaseurl %}{{site.url}}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}"/>
    <meta property="og:image" content="{{ site.url }}/{{ page.headingimage }}"/>
    <meta property="og:description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="fb:app_id" content="199229233823383"/>
    <meta property="telegram:channel" content="@{{ page.category | downcase }}kategorija"/>

    <script src="{{site.url}}/js/zepto.min.js"></script>
    <script src="{{site.url}}/js/application.js"></script>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
