<div class="row">
    <div id="navigation" class="col-xs-12">
        <nav role="navigation">
            <ul>
                <li class="A-category">
                    <div>
                        <a href="{{ site.url }}/a/">A <span>kategorija</span></a>
                    </div>
                </li>
                <li class="B-category">
                    <div>
                        <a href="{{ site.url }}/b/">B <span>kategorija</span></a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>