---
layout: default
---

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h2>Brīvās vietas</h2>
                <div class="post-preview">
                    <table class="table" id="exams">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Datums</th>
                            <th>Brīvas vietas</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">Pēdējo reizi atjaunots: <time id="last-updated"></time></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <h2 class="telegram">Ja vēlies parakstīties uz paziņojumiem par
                    brīvājām vietām, tad pievienojies Telegram apziņošanas rīka kanālam <br><br><a
                            href="https://telegram.me/{{page.telegramchannel}}"><img class="img-responsive telegram-icon"
                                                                                     src="{{site.url}}/img/Telegram_logo.svg"
                                                                                     alt="telegram"></a><br></h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="fb-like" data-href="{% if page.ogbaseurl %}{{site.url}}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}" data-layout="button_count" data-action="like"
                 data-size="large" data-show-faces="true" data-share="true"></div>
        </div>
        <div class="row text-center">
            <div class="fb-comments" data-href="{% if page.ogbaseurl %}{{site.url}}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}" data-numposts="5" data-colorscheme="dark"></div>
        </div>
    </div>
</section>